html {
	background: url('../img/rei1.jpg');
	font-size: 16px;
}

* {
	font-family: 'Chakra Petch', sans-serif;
}

body {
	width: 350px;
	padding: 50px;
	background-color: white;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	margin: 100px auto;
}

fieldset {
	margin-top: 10px;
}

legend {
	font-size: 1.2rem;
	background-color: black;
	color: white;
	text-transform: uppercase;
}

div {
	margin: 10px auto;
}

.send-button {
	margin-top: 20px;
	text-align: center;
}

.note {
	font-style: italic;
	color: red;
}


