* {
	box-sizing: border-box;
}

body {
	width: 980px;
	margin: 0 auto;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
}

.wrapper {
	padding-right: 20px;

	/*border: 1px solid #d67e7e;*/
	background: #ede8c2;
	background-clip: content-box;
}

.col {
	width: 60px;
	margin-left: 20px;
	background: #d67e7e;
	float: left;
	border: 1px solid black;
}

.row {
	clear: both;
	/*border: 1px dotted #9cd1e5;*/
}

.span1 {
	width: 60px;
}

.span6 {
	width: 460px;
}

.span3 {
	width: 220px;
}

.span2 {
	width: 140px;
}